// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// make the text size smaller
@media only screen and (min-width: 992px) {
  body { font-size: 1em; }
}

h1.entry-title {
  text-align: center;
}

h1.entry-title::before {
  content: "― ";
  font-weight: normal;
  color: #AAA;
}

h1.entry-title::after {
  content: " ―";
  font-weight: normal;
  color: #AAA;
}

.entry-content {
  counter-reset:section;
  font-size: 13px;
  
  h2 {
    margin-top: 1.5em;
    //border-top: 4px solid #e0e0e0;
    padding-top: .5em;
    counter-reset: subsection;
  }
  
  h2::before {
    content: counter(section) " ";
    counter-increment: section;
  }
  
  h3 {
    font-size: 1.17em;
    margin-top: 1em;
  }
  
  h3::before {
  content: counter(section) "." counter(subsection) " ";
  counter-increment: subsection;
  }
  
  p {
    font-size: 1em;
  }

  ul {
    padding-left: 2.5em;
  }
}


